<!--right content-->
<div class="col-lg-4 col-md-4 col-sm-4">
    <aside class="right_content">
      <div class="single_sidebar">
        <h2><span>Popular Post</span></h2>
        <ul class="spost_nav">
            <% postsviews.forEach(function(post) { %>
          <li>
            <div class="media wow fadeInDown"> <a href="/user/posts/<%= post.post_id %>" class="media-left">
                <% if (post.image_url) { %>
                    <img src="<%= post.image_url %>" alt="<%= post.title %>">
                  <% } else { %>
                    <img src="" alt="Default Image">
                  <% } %>
                </a>
                <div class="media-body">
                    <a href="/user/posts/<%= post.post_id %>" class="catg_title"><%= post.title %></a>
                </div>
            </div>
          </li>
          <% }); %>
        </ul>
      </div>

      <div class="single_sidebar">

        <ul class="nav nav-tabs" role="tablist">
          <li role="presentation" class="active"><a href="#category" aria-controls="home" role="tab" data-toggle="tab">Category</a></li>
          <li role="presentation"><a href="#video" aria-controls="profile" role="tab" data-toggle="tab">Video</a></li>
          <li role="presentation"><a href="#comments" aria-controls="messages" role="tab" data-toggle="tab">Comments</a></li>
        </ul>
        
        <div class="tab-content">
          <!--category-->
          <div role="tabpanel" class="tab-pane active" id="category">
            <ul>
                <% categories.forEach(function(category) { %>
                    <li class="cat-item"><a href="/user/<%= category.name %>"><%= category.name %></a></li>
                <% }); %>
            </ul>
          </div>
          <!--video-->
          <div role="tabpanel" class="tab-pane" id="video">
            <div class="vide_area">
              <iframe width="100%" height="250" src="http://www.youtube.com/embed/h5QWbURNEpA?feature=player_detailpage" frameborder="0" allowfullscreen></iframe>
            </div>
          </div>
          <!--comment-->
          <div role="tabpanel" class="tab-pane" id="comments">
            <ul class="spost_nav">
              <li>
                <div class="media wow fadeInDown"> <a href="" class="media-left"> <img alt="" src=""> </a>
                  <div class="media-body"> <a href="" class="catg_title"> Aliquam malesuada diam eget turpis varius 1</a> </div>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>

      <div class="single_sidebar wow fadeInDown">
        <h2><span>Sponsor</span></h2>
        <a class="sideAdd" href="#"><img src="/images/istockphoto-1330591104-1024x1024.jpg" alt=""></a> </div>
      <div class="single_sidebar wow fadeInDown">
        <h2><span>Category Archive</span></h2>
        <select class="catgArchive">
          <option>Select Category</option>
          <option>Life styles</option>
          <option>Sports</option>
          <option>Technology</option>
          <option>Treads</option>
        </select>
      </div>

      <div class="single_sidebar wow fadeInDown">
        <h2><span>Links</span></h2>
        <ul>
          <li><a href="#">Blog</a></li>
          <li><a href="#">Rss Feed</a></li>
          <li><a href="#">Login</a></li>
          <li><a href="#">Life &amp; Style</a></li>
        </ul>
      </div>

    </aside>
  </div>
</div>
</section>
<!--end right-->